/* New Body page Styling... */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    background-color: #ffffff;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#profile-picture {
    border-radius: 50%;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 1.5em;
}

main > section {
    margin-bottom: 30px;
}

dl, ul {
    list-style: none;
    padding-left: 0;
}

dl dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dl dd, ul li {
    margin-bottom: 15px;
    line-height: 1.5;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* New Table Styling... */

table {
    width: 100%; /* Ensure the table takes the full width */
    border-collapse: collapse; /* Removes the double borders */
    margin-top: 20px; /* Space between the section and the table */
}

th, td {
    padding: 10px; /* Space inside each cell */
    border: 1px solid #dcdcdc; /* Light border around each cell for clarity */
    text-align: left; /* Aligns text to the left */
}

th {
    background-color: #f0f0f0; /* Slightly gray background for headers */
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Slight shading for alternate rows to increase readability */
}

tbody tr:hover {
    background-color: #e0e0e0; /* Highlights a row slightly when hovered upon */
}

td.center {
    text-align: center;
}

td.right {
    text-align: right;
}

/* Publications Styling */

.publications {
    width: 100%;
    margin-top: 20px;
}

.publication {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    transition: background-color 0.3s;
}

.publication:hover {
    background-color: #fafafa;
}

.publication-title {
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 8px;
    font-size: 18px;
}

.publication-authors {
    color: #7f8c8d;
    font-size: 16px;
    margin-bottom: 5px;
}

.publication-journal {
    font-style: italic;
    font-size: 16px;
    color: #34495e;
    margin-bottom: 5px;
}

.publication-doi {
    font-size: 14px;
    color: #3498db;
}

.publication-doi a:hover {
    text-decoration: underline;
}

/* End of Publications Styling */